/* inter-regular - cyrillic-ext_greek-ext_cyrillic_greek_vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-cyr-ext-greek-ext.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-cyr.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-greek.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-viet.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 600 Weight */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-cyr-ext-greek-ext.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-cyr.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-greek.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-viet.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 800 Weight */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-cyr-ext-greek-ext.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-cyr.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-greek.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-viet.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* --- New Theme Fonts (Offline) --- */

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DotGothic16';
  src: url('../fonts/dotgothic16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titan One';
  src: url('../fonts/titanone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/ibmplexmono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VT323';
  src: url('../fonts/vt323.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/spacemono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bungee';
  src: url('../fonts/bungee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Special Elite';
  src: url('../fonts/specialelite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/silkscreen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/chakrapetch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: 'Russo One';

  src: url('../fonts/russoone.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'Archivo Black';

  src: url('../fonts/archivoblack.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'DM Serif Display';

  src: url('../fonts/dmserifdisplay.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}



@font-face {



  font-family: 'JetBrains Mono';



  src: url('../fonts/jetbrainsmono.ttf') format('truetype');



  font-weight: normal;



  font-style: normal;



}







@font-face {



  font-family: 'Audiowide';



  src: url('../fonts/audiowide.ttf') format('truetype');



  font-weight: normal;



  font-style: normal;



}







@font-face {



  font-family: 'Bangers';



  src: url('../fonts/bangers.ttf') format('truetype');



  font-weight: normal;



  font-style: normal;



}







@font-face {



  font-family: 'Cormorant Garamond';



  src: url('../fonts/cormorantgaramond.ttf') format('truetype');



  font-weight: normal;



  font-style: normal;



}







@font-face {







  font-family: 'Ma Shan Zheng';







  src: url('../fonts/mashanzheng.ttf') format('truetype');







  font-weight: normal;







  font-style: normal;







}















@font-face {







  font-family: 'Quicksand';







  src: url('../fonts/quicksand.ttf') format('truetype');







  font-weight: normal;







  font-style: normal;







}















@font-face {







  font-family: 'Stardos Stencil';







  src: url('../fonts/stardosstencil.ttf') format('truetype');







  font-weight: normal;







  font-style: normal;







}















@font-face {







  font-family: 'Montserrat';







  src: url('../fonts/montserrat.ttf') format('truetype');







  font-weight: normal;







  font-style: normal;







}















@font-face {















  font-family: 'Press Start 2P';















  src: url('../fonts/pressstart2p.ttf') format('truetype');















  font-weight: normal;















  font-style: normal;















}































@font-face {















  font-family: 'Exo 2';















  src: url('../fonts/exo2.ttf') format('truetype');















  font-weight: normal;















  font-style: normal;















}































@font-face {















  font-family: 'Pixelify Sans';















  src: url('../fonts/pixelifysans.ttf') format('truetype');















  font-weight: normal;















  font-style: normal;















}







































@font-face {















  font-family: 'Luckiest Guy';















  src: url('../fonts/luckiestguy.ttf') format('truetype');















  font-weight: normal;















  font-style: normal;















}































@font-face {































  font-family: 'Sigmar';































  src: url('../fonts/sigmar.ttf') format('truetype');































  font-weight: normal;































  font-style: normal;































}































































@font-face {































  font-family: 'Balsamiq Sans';































  src: url('../fonts/balsamiqsans.ttf') format('truetype');































  font-weight: normal;































  font-style: normal;































}







































































@font-face {







  font-family: 'ZCOOL XiaoWei';







  src: url('../fonts/zcoolxiaowei.ttf') format('truetype');







  font-weight: normal;







  font-style: normal;







}












